*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

body{
    background-image: linear-gradient( 135deg, #C2FFD8 10%, #465EFB 100%);
    background-attachment: fixed;
}

.header{
    font-size: 5rem;
    text-align: center;
    margin: 10px auto;

}

.container{
    max-width: 100%;
    display: flex;
    justify-content: center;
}

#todo-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px auto;

}

#todo-input{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 10px;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    width: 60%;
}



#add-button {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-image: linear-gradient(#16222A 0%, #3A6073 51%, #16222A 100%);
    border: none;
    margin-left: 10px;
    width: 10%;
    font-size: 150%;
    width: 100px;
    height: 68px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

#add-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#add-button:active {
    color: #000
}

#add-button:active:after {
    background: transparent;
}

#add-button:hover:before {
    opacity: 1;
}

#add-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#list{
    margin: 30px auto;
    width: 70%;
    border-radius: 10px;
}

li {
    list-style: none; 
    padding: 15px;
    margin-bottom: 10px; 
    background-color: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 2px 2px 5px #ccc; 
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    font-size: 2rem;
}

.delete-btn {
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 5px 10px; 
    cursor: pointer;
    display: flex;
    align-items: center; 
    justify-content: center; 
    transition: all 0.2s ease-in-out; 
}

.delete-btn:before {
    content: ""; 
    font-size: 10px; 
}
